.gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(64, 52, 122, 1) 42%,
    rgba(3, 36, 103, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(64, 52, 122, 1) 42%,
    rgba(3, 36, 103, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(64, 52, 122, 1) 42%,
    rgba(3, 36, 103, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032467', endColorstr='#40347A', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(64, 52, 122, 1) 42%,
    rgba(3, 36, 103, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(64, 52, 122, 1) 42%,
    rgba(3, 36, 103, 1) 100%
  );
}
.swiper-slide{
  transition: transform 0.9s ease;
}
.swiper-slide-active{
  transform: scale(1);
}